.wrap {
  padding-left: 4rem;
  position: relative;

  @media (max-width: 768px) {
    padding-left: 3.2rem;
  }

  .icons_wrap {
    margin-top: 1.6rem;
    display: flex;
    gap: 0.4rem;

    .icon_circle {
      width: 50px;
      height: 50px;
      display: grid;
      place-content: center;
      border-radius: 50%;
      transition: all 0.3s;
      border: 1px solid transparent;

      @media (max-width: 768px) {
        width: 40px;
        height: 40px;
        border-radius: 10px;
      }

      .img {
        filter: brightness(0) saturate(100%) invert(13%) sepia(88%)
          saturate(12%) hue-rotate(355deg) brightness(106%) contrast(90%);
      }

      &:hover {
        transform: rotateX(360deg);

        .img {
          filter: brightness(0) saturate(100%) invert(94%) sepia(100%)
            saturate(0%) hue-rotate(174deg) brightness(105%) contrast(106%);
        }
      }

      .img_wrap {
        width: 30px;

        @media (max-width: 768px) {
          width: 25px;
        }
      }
    }
  }
}
