.section {
  margin-top: 17.6rem;

  @media (max-width: 768px) {
  }

  .content_warp {
    display: flex;
    justify-content: space-between;
    margin-top: 4.8rem;

    @media (max-width: 768px) {
      flex-direction: column;
      margin-top: 6.4rem;
      padding-inline: 1.6rem;
    }
  }
}
