.title {
  font-size: 4.8rem;
  font-weight: 100;
  line-height: 1.2;

  @media (max-width: 768px) {
    font-size: 4rem;
  }

  .sub_title {
    display: block;
    font-size: 2rem;
    color: #757575;
    margin-left: 16rem;
    font-weight: normal;
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3,
      'メイリオ', Meiryo, sans-serif;

    @media (max-width: 768px) {
      font-size: 1.6rem;
      margin-left: 13.6rem;
    }
  }
}
